$Luxembourg: -0px -0px 72px 72px;
$Afghanistan: -0px -72px 72px 72px;
$Aland: -0px -144px 72px 72px;
$Albania: -0px -216px 72px 72px;
$Alderney: -0px -288px 72px 72px;
$Algeria: -0px -360px 72px 72px;
$American-Samoa: -0px -432px 72px 72px;
$Andorra: -0px -504px 72px 72px;
$Angola: -0px -576px 72px 72px;
$Anguilla: -0px -648px 72px 72px;
$Antarctica: -0px -720px 72px 72px;
$Antigua-\&amp;
-Barbuda: -0px -792px 72px 72px;
$Arab-League: -0px -864px 72px 72px;
$Argentina: -0px -936px 72px 72px;
$Armenia: -0px -1008px 72px 72px;
$Aruba: -0px -1080px 72px 72px;
$ASEAN: -0px -1152px 72px 72px;
$Australia: -0px -1224px 72px 72px;
$Austria: -0px -1296px 72px 72px;
$Azerbaijan: -0px -1368px 72px 72px;
$Bahamas: -0px -1440px 72px 72px;
$Bahrain: -0px -1512px 72px 72px;
$Bangladesh: -0px -1584px 72px 72px;
$Barbados: -0px -1656px 72px 72px;
$Basque-Country: -0px -1728px 72px 72px;
$Belarus: -0px -1800px 72px 72px;
$Belgium: -0px -1872px 72px 72px;
$Belize: -0px -1944px 72px 72px;
$Benin: -0px -2016px 72px 72px;
$Bermuda: -0px -2088px 72px 72px;
$Bhutan: -0px -2160px 72px 72px;
$Bolivia: -0px -2232px 72px 72px;
$Bonaire-Sint-Eustatius-and-Saba: -0px -2304px 72px 72px;
$Bosnia-\&amp;
-Herzegovina: -0px -2376px 72px 72px;
$Botswana: -0px -2448px 72px 72px;
$Bouvet: -0px -2520px 72px 72px;
$Brazil: -0px -2592px 72px 72px;
$British-Indian-Ocean-Territory: -0px -2664px 72px 72px;
$Brunei: -0px -2736px 72px 72px;
$Bulgaria: -0px -2808px 72px 72px;
$Burkina-Faso: -0px -2880px 72px 72px;
$Burundi: -0px -2952px 72px 72px;
$Cambodja: -0px -3024px 72px 72px;
$Cameroon: -0px -3096px 72px 72px;
$Canada: -0px -3168px 72px 72px;
$Cape-Verde: -0px -3240px 72px 72px;
$CARICOM: -0px -3312px 72px 72px;
$Catalonia: -0px -3384px 72px 72px;
$Cayman-Islands: -0px -3456px 72px 72px;
$Central-African-Republic: -0px -3528px 72px 72px;
$Chad: -0px -3600px 72px 72px;
$Chile: -0px -3672px 72px 72px;
$China: -0px -3744px 72px 72px;
$Christmas: -0px -3816px 72px 72px;
$CIS: -0px -3888px 72px 72px;
$Cocos-\(Keeling\): -0px -3960px 72px 72px;
$Colombia: -0px -4032px 72px 72px;
$Commonwealth: -0px -4104px 72px 72px;
$Comoros: -0px -4176px 72px 72px;
$Congo-Brazzaville: -0px -4248px 72px 72px;
$Congo-Kinshasa\(Zaire\): -0px -4320px 72px 72px;
$Cook-Islands: -0px -4392px 72px 72px;
$Costa-Rica: -0px -4464px 72px 72px;
$Cote-d&#x27;
Ivoire: -0px -4536px 72px 72px;
$Croatia: -0px -4608px 72px 72px;
$Cuba: -0px -4680px 72px 72px;
$Curacao: -0px -4752px 72px 72px;
$Cyprus: -0px -4824px 72px 72px;
$Czech-Republic: -0px -4896px 72px 72px;
$Denmark: -0px -4968px 72px 72px;
$Djibouti: -0px -5040px 72px 72px;
$Dominica: -0px -5112px 72px 72px;
$Dominican-Republic: -0px -5184px 72px 72px;
$Ecuador: -0px -5256px 72px 72px;
$Egypt: -0px -5328px 72px 72px;
$El-Salvador: -0px -5400px 72px 72px;
$England: -0px -5472px 72px 72px;
$Equatorial-Guinea: -0px -5544px 72px 72px;
$Eritrea: -0px -5616px 72px 72px;
$Estonia: -0px -5688px 72px 72px;
$Ethiopia: -0px -5760px 72px 72px;
$European-Union: -0px -5832px 72px 72px;
$Falkland-\(Malvinas\): -0px -5904px 72px 72px;
$FAO: -0px -5976px 72px 72px;
$Faroes: -0px -6048px 72px 72px;
$Fiji: -0px -6120px 72px 72px;
$Finland: -0px -6192px 72px 72px;
$France: -0px -6264px 72px 72px;
$French-Guiana: -0px -6336px 72px 72px;
$French-Southern-and-Antarctic-Lands: -0px -6408px 72px 72px;
$Gabon: -0px -6480px 72px 72px;
$Galicia: -0px -6552px 72px 72px;
$Gambia: -0px -6624px 72px 72px;
$Georgia: -0px -6696px 72px 72px;
$Germany: -0px -6768px 72px 72px;
$Ghana: -0px -6840px 72px 72px;
$Gibraltar: -0px -6912px 72px 72px;
$Greece: -0px -6984px 72px 72px;
$Greenland: -0px -7056px 72px 72px;
$Grenada: -0px -7128px 72px 72px;
$Guadeloupe: -0px -7200px 72px 72px;
$Guam: -0px -7272px 72px 72px;
$Guatemala: -0px -7344px 72px 72px;
$Guernsey: -0px -7416px 72px 72px;
$Guinea-Bissau: -0px -7488px 72px 72px;
$Guinea: -0px -7560px 72px 72px;
$Guyana: -0px -7632px 72px 72px;
$Haiti: -0px -7704px 72px 72px;
$Heard-Island-and-McDonald: -0px -7776px 72px 72px;
$Honduras: -0px -7848px 72px 72px;
$Hong-Kong: -0px -7920px 72px 72px;
$Hungary: -0px -7992px 72px 72px;
$IAEA: -0px -8064px 72px 72px;
$Iceland: -0px -8136px 72px 72px;
$IHO: -0px -8208px 72px 72px;
$India: -0px -8280px 72px 72px;
$Indonezia: -0px -8352px 72px 72px;
$Iran: -0px -8424px 72px 72px;
$Iraq: -0px -8496px 72px 72px;
$Ireland: -0px -8568px 72px 72px;
$Islamic-Conference: -0px -8640px 72px 72px;
$Isle-of-Man: -0px -8712px 72px 72px;
$Israel: -0px -8784px 72px 72px;
$Italy: -0px -8856px 72px 72px;
$Jamaica: -0px -8928px 72px 72px;
$Japan: -0px -9000px 72px 72px;
$Jersey: -0px -9072px 72px 72px;
$Jordan: -0px -9144px 72px 72px;
$Kazakhstan: -0px -9216px 72px 72px;
$Kenya: -0px -9288px 72px 72px;
$Kiribati: -0px -9360px 72px 72px;
$Kosovo: -0px -9432px 72px 72px;
$Kuwait: -0px -9504px 72px 72px;
$Kyrgyzstan: -0px -9576px 72px 72px;
$Laos: -0px -9648px 72px 72px;
$Latvia: -0px -9720px 72px 72px;
$Lebanon: -0px -9792px 72px 72px;
$Lesotho: -0px -9864px 72px 72px;
$Liberia: -0px -9936px 72px 72px;
$Libya: -0px -10008px 72px 72px;
$Liechtenshein: -0px -10080px 72px 72px;
$Lithuania: -0px -10152px 72px 72px;
$African-Union: -0px -10224px 72px 72px;
$Macao: -0px -10296px 72px 72px;
$Macedonia: -0px -10368px 72px 72px;
$Madagascar: -0px -10440px 72px 72px;
$Malawi: -0px -10512px 72px 72px;
$Malaysia: -0px -10584px 72px 72px;
$Maldives: -0px -10656px 72px 72px;
$Mali: -0px -10728px 72px 72px;
$Malta: -0px -10800px 72px 72px;
$Marshall-Islands: -0px -10872px 72px 72px;
$Martinique: -0px -10944px 72px 72px;
$Mauritania: -0px -11016px 72px 72px;
$Mauritius: -0px -11088px 72px 72px;
$Mayotte: -0px -11160px 72px 72px;
$Mexico: -0px -11232px 72px 72px;
$Micronesia: -0px -11304px 72px 72px;
$Moldova: -0px -11376px 72px 72px;
$Monaco: -0px -11448px 72px 72px;
$Mongolia: -0px -11520px 72px 72px;
$Montenegro: -0px -11592px 72px 72px;
$Montserrat: -0px -11664px 72px 72px;
$Morocco: -0px -11736px 72px 72px;
$Mozambique: -0px -11808px 72px 72px;
$Myanmar\(Burma\): -0px -11880px 72px 72px;
$Namibia: -0px -11952px 72px 72px;
$NATO: -0px -12024px 72px 72px;
$Nauru: -0px -12096px 72px 72px;
$Nepal: -0px -12168px 72px 72px;
$Netherlands-Antilles: -0px -12240px 72px 72px;
$Netherlands: -0px -12312px 72px 72px;
$New-Zealand: -0px -12384px 72px 72px;
$New-Caledonia: -0px -12456px 72px 72px;
$Nicaragua: -0px -12528px 72px 72px;
$Niger: -0px -12600px 72px 72px;
$Nigeria: -0px -12672px 72px 72px;
$Niue: -0px -12744px 72px 72px;
$Norfolk: -0px -12816px 72px 72px;
$North-Korea: -0px -12888px 72px 72px;
$Northern-Cyprus: -0px -12960px 72px 72px;
$Northern-Ireland: -0px -13032px 72px 72px;
$Northern-Mariana: -0px -13104px 72px 72px;
$Norway: -0px -13176px 72px 72px;
$OAS: -0px -13248px 72px 72px;
$OECD: -0px -13320px 72px 72px;
$Olimpic-Movement: -0px -13392px 72px 72px;
$Oman: -0px -13464px 72px 72px;
$OPEC: -0px -13536px 72px 72px;
$Pakistan: -0px -13608px 72px 72px;
$Palau: -0px -13680px 72px 72px;
$Palestine: -0px -13752px 72px 72px;
$Panama: -0px -13824px 72px 72px;
$Papua-New-Guinea: -0px -13896px 72px 72px;
$Paraguay: -0px -13968px 72px 72px;
$Peru: -0px -14040px 72px 72px;
$Philippines: -0px -14112px 72px 72px;
$Pitcairn: -0px -14184px 72px 72px;
$Poland: -0px -14256px 72px 72px;
$Portugal: -0px -14328px 72px 72px;
$Puerto-Rico: -0px -14400px 72px 72px;
$Qatar: -0px -14472px 72px 72px;
$Quebec: -0px -14544px 72px 72px;
$Red-Cross: -0px -14616px 72px 72px;
$Reunion: -0px -14688px 72px 72px;
$Romania: -0px -14760px 72px 72px;
$Russian-Federation: -0px -14832px 72px 72px;
$Rwanda: -0px -14904px 72px 72px;
$Saint-Barthelemy: -0px -14976px 72px 72px;
$Saint-Helena: -0px -15048px 72px 72px;
$Saint-Lucia: -0px -15120px 72px 72px;
$Saint-Martin: -0px -15192px 72px 72px;
$Saint-Pierre-and-Miquelon: -0px -15264px 72px 72px;
$Samoa: -0px -15336px 72px 72px;
$San-Marino: -0px -15408px 72px 72px;
$Sao-Tome-\&amp;
-Principe: -0px -15480px 72px 72px;
$Saudi-Arabia: -0px -15552px 72px 72px;
$Scotland: -0px -15624px 72px 72px;
$Senegal: -0px -15696px 72px 72px;
$Serbia\(Yugoslavia\): -0px -15768px 72px 72px;
$Seychelles: -0px -15840px 72px 72px;
$Sierra-Leone: -0px -15912px 72px 72px;
$Singapore: -0px -15984px 72px 72px;
$Sint-Maarten: -0px -16056px 72px 72px;
$Slovakia: -0px -16128px 72px 72px;
$Slovenia: -0px -16200px 72px 72px;
$Solomon-Islands: -0px -16272px 72px 72px;
$Somalia: -0px -16344px 72px 72px;
$Somaliland: -0px -16416px 72px 72px;
$South-Africa: -0px -16488px 72px 72px;
$South-Georgia-and-South-Sandwich: -0px -16560px 72px 72px;
$South-Korea: -0px -16632px 72px 72px;
$Southern-Sudan: -0px -16704px 72px 72px;
$Spain: -0px -16776px 72px 72px;
$Sri-Lanka: -0px -16848px 72px 72px;
$St-Kitts-\&amp;
-Nevis: -0px -16920px 72px 72px;
$St-Vincent-\&amp;
-the-Grenadines: -0px -16992px 72px 72px;
$Sudan: -0px -17064px 72px 72px;
$Suriname: -0px -17136px 72px 72px;
$Svalbard-and-Jan-Mayen: -0px -17208px 72px 72px;
$Swaziland: -0px -17280px 72px 72px;
$Sweden: -0px -17352px 72px 72px;
$Switzerland: -0px -17424px 72px 72px;
$Syria: -0px -17496px 72px 72px;
$Tahiti\(French-Polinesia\): -0px -17568px 72px 72px;
$Taiwan: -0px -17640px 72px 72px;
$Tajikistan: -0px -17712px 72px 72px;
$Tanzania: -0px -17784px 72px 72px;
$Thailand: -0px -17856px 72px 72px;
$Timor-Leste: -0px -17928px 72px 72px;
$Togo: -0px -18000px 72px 72px;
$Tokelau: -0px -18072px 72px 72px;
$Tonga: -0px -18144px 72px 72px;
$Trinidad-\&amp;
-Tobago: -0px -18216px 72px 72px;
$Tristan-da-Cunha: -0px -18288px 72px 72px;
$Tunisia: -0px -18360px 72px 72px;
$Turkey: -0px -18432px 72px 72px;
$Turkmenistan: -0px -18504px 72px 72px;
$Turks-and-Caicos-Islands: -0px -18576px 72px 72px;
$Tuvalu: -0px -18648px 72px 72px;
$Uganda: -0px -18720px 72px 72px;
$Ukraine: -0px -18792px 72px 72px;
$UNESCO: -0px -18864px 72px 72px;
$UNICEF: -0px -18936px 72px 72px;
$United-Arab-Emirates: -0px -19008px 72px 72px;
$United-Kingdom\(Great-Britain\): -0px -19080px 72px 72px;
$United-States-Minor-Outlying: -0px -19152px 72px 72px;
$United-States-of-America\(USA\): -0px -19224px 72px 72px;
$United-Nations: -0px -19296px 72px 72px;
$Uruguay: -0px -19368px 72px 72px;
$Uzbekistan: -0px -19440px 72px 72px;
$Vanutau: -0px -19512px 72px 72px;
$Vatican-City: -0px -19584px 72px 72px;
$Venezuela: -0px -19656px 72px 72px;
$Viet-Nam: -0px -19728px 72px 72px;
$Virgin-Islands-British: -0px -19800px 72px 72px;
$Virgin-Islands-US: -0px -19872px 72px 72px;
$Wales: -0px -19944px 72px 72px;
$Wallis-and-Futuna: -0px -20016px 72px 72px;
$Western-Sahara: -0px -20088px 72px 72px;
$WHO: -0px -20160px 72px 72px;
$WTO: -0px -20232px 72px 72px;
$Yemen: -0px -20304px 72px 72px;
$Zambia: -0px -20376px 72px 72px;
$Zimbabwe: -0px -20448px 72px 72px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
  @return nth($sprite, 3);
}
@function sprite-height($sprite) {
  @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
.icon {
  background-image: url(../images/sprite.png);
}