.icon {
  background-image: url(../images/sprite.png);
}
.icon-mg {
  background-position: -0px -0px;
  width: 136px;
  height: 136px;
}
.icon-ad {
  background-position: -0px -136px;
  width: 136px;
  height: 136px;
}
.icon-af {
  background-position: -0px -272px;
  width: 136px;
  height: 136px;
}
.icon-ag {
  background-position: -0px -408px;
  width: 136px;
  height: 136px;
}
.icon-ai {
  background-position: -0px -544px;
  width: 136px;
  height: 136px;
}
.icon-al {
  background-position: -0px -680px;
  width: 136px;
  height: 136px;
}
.icon-am {
  background-position: -0px -816px;
  width: 136px;
  height: 136px;
}
.icon-an {
  background-position: -0px -952px;
  width: 136px;
  height: 136px;
}
.icon-ao {
  background-position: -0px -1088px;
  width: 136px;
  height: 136px;
}
.icon-aq {
  background-position: -0px -1224px;
  width: 136px;
  height: 136px;
}
.icon-ar {
  background-position: -0px -1360px;
  width: 136px;
  height: 136px;
}
.icon-as {
  background-position: -0px -1496px;
  width: 136px;
  height: 136px;
}
.icon-at {
  background-position: -0px -1632px;
  width: 136px;
  height: 136px;
}
.icon-au {
  background-position: -0px -1768px;
  width: 136px;
  height: 136px;
}
.icon-aw {
  background-position: -0px -1904px;
  width: 136px;
  height: 136px;
}
.icon-ax {
  background-position: -0px -2040px;
  width: 136px;
  height: 136px;
}
.icon-az {
  background-position: -0px -2176px;
  width: 136px;
  height: 136px;
}
.icon-ba {
  background-position: -0px -2312px;
  width: 136px;
  height: 136px;
}
.icon-bb {
  background-position: -0px -2448px;
  width: 136px;
  height: 136px;
}
.icon-bd {
  background-position: -0px -2584px;
  width: 136px;
  height: 136px;
}
.icon-be {
  background-position: -0px -2720px;
  width: 136px;
  height: 136px;
}
.icon-bf {
  background-position: -0px -2856px;
  width: 136px;
  height: 136px;
}
.icon-bg {
  background-position: -0px -2992px;
  width: 136px;
  height: 136px;
}
.icon-bh {
  background-position: -0px -3128px;
  width: 136px;
  height: 136px;
}
.icon-bi {
  background-position: -0px -3264px;
  width: 136px;
  height: 136px;
}
.icon-bj {
  background-position: -0px -3400px;
  width: 136px;
  height: 136px;
}
.icon-bl {
  background-position: -0px -3536px;
  width: 136px;
  height: 136px;
}
.icon-bm {
  background-position: -0px -3672px;
  width: 136px;
  height: 136px;
}
.icon-bn {
  background-position: -0px -3808px;
  width: 136px;
  height: 136px;
}
.icon-bo {
  background-position: -0px -3944px;
  width: 136px;
  height: 136px;
}
.icon-bq {
  background-position: -0px -4080px;
  width: 136px;
  height: 136px;
}
.icon-br {
  background-position: -0px -4216px;
  width: 136px;
  height: 136px;
}
.icon-bs {
  background-position: -0px -4352px;
  width: 136px;
  height: 136px;
}
.icon-bt {
  background-position: -0px -4488px;
  width: 136px;
  height: 136px;
}
.icon-bv {
  background-position: -0px -4624px;
  width: 136px;
  height: 136px;
}
.icon-bw {
  background-position: -0px -4760px;
  width: 136px;
  height: 136px;
}
.icon-by {
  background-position: -0px -4896px;
  width: 136px;
  height: 136px;
}
.icon-bz {
  background-position: -0px -5032px;
  width: 136px;
  height: 136px;
}
.icon-ca {
  background-position: -0px -5168px;
  width: 136px;
  height: 136px;
}
.icon-cc {
  background-position: -0px -5304px;
  width: 136px;
  height: 136px;
}
.icon-cd {
  background-position: -0px -5440px;
  width: 136px;
  height: 136px;
}
.icon-cf {
  background-position: -0px -5576px;
  width: 136px;
  height: 136px;
}
.icon-cg {
  background-position: -0px -5712px;
  width: 136px;
  height: 136px;
}
.icon-ch {
  background-position: -0px -5848px;
  width: 136px;
  height: 136px;
}
.icon-ci {
  background-position: -0px -5984px;
  width: 136px;
  height: 136px;
}
.icon-ck {
  background-position: -0px -6120px;
  width: 136px;
  height: 136px;
}
.icon-cl {
  background-position: -0px -6256px;
  width: 136px;
  height: 136px;
}
.icon-cm {
  background-position: -0px -6392px;
  width: 136px;
  height: 136px;
}
.icon-cn {
  background-position: -0px -6528px;
  width: 136px;
  height: 136px;
}
.icon-co {
  background-position: -0px -6664px;
  width: 136px;
  height: 136px;
}
.icon-cr {
  background-position: -0px -6800px;
  width: 136px;
  height: 136px;
}
.icon-cu {
  background-position: -0px -6936px;
  width: 136px;
  height: 136px;
}
.icon-cv {
  background-position: -0px -7072px;
  width: 136px;
  height: 136px;
}
.icon-cw {
  background-position: -0px -7208px;
  width: 136px;
  height: 136px;
}
.icon-cx {
  background-position: -0px -7344px;
  width: 136px;
  height: 136px;
}
.icon-cy {
  background-position: -0px -7480px;
  width: 136px;
  height: 136px;
}
.icon-cz {
  background-position: -0px -7616px;
  width: 136px;
  height: 136px;
}
.icon-de {
  background-position: -0px -7752px;
  width: 136px;
  height: 136px;
}
.icon-dj {
  background-position: -0px -7888px;
  width: 136px;
  height: 136px;
}
.icon-dk {
  background-position: -0px -8024px;
  width: 136px;
  height: 136px;
}
.icon-dm {
  background-position: -0px -8160px;
  width: 136px;
  height: 136px;
}
.icon-do {
  background-position: -0px -8296px;
  width: 136px;
  height: 136px;
}
.icon-dz {
  background-position: -0px -8432px;
  width: 136px;
  height: 136px;
}
.icon-ec {
  background-position: -0px -8568px;
  width: 136px;
  height: 136px;
}
.icon-ee {
  background-position: -0px -8704px;
  width: 136px;
  height: 136px;
}
.icon-eg {
  background-position: -0px -8840px;
  width: 136px;
  height: 136px;
}
.icon-eh {
  background-position: -0px -8976px;
  width: 136px;
  height: 136px;
}
.icon-er {
  background-position: -0px -9112px;
  width: 136px;
  height: 136px;
}
.icon-es {
  background-position: -0px -9248px;
  width: 136px;
  height: 136px;
}
.icon-et {
  background-position: -0px -9384px;
  width: 136px;
  height: 136px;
}
.icon-fi {
  background-position: -0px -9520px;
  width: 136px;
  height: 136px;
}
.icon-fj {
  background-position: -0px -9656px;
  width: 136px;
  height: 136px;
}
.icon-fk {
  background-position: -0px -9792px;
  width: 136px;
  height: 136px;
}
.icon-fm {
  background-position: -0px -9928px;
  width: 136px;
  height: 136px;
}
.icon-fo {
  background-position: -0px -10064px;
  width: 136px;
  height: 136px;
}
.icon-fr {
  background-position: -0px -10200px;
  width: 136px;
  height: 136px;
}
.icon-ga {
  background-position: -0px -10336px;
  width: 136px;
  height: 136px;
}
.icon-gb {
  background-position: -0px -10472px;
  width: 136px;
  height: 136px;
}
.icon-gd {
  background-position: -0px -10608px;
  width: 136px;
  height: 136px;
}
.icon-ge {
  background-position: -0px -10744px;
  width: 136px;
  height: 136px;
}
.icon-gf {
  background-position: -0px -10880px;
  width: 136px;
  height: 136px;
}
.icon-gg {
  background-position: -0px -11016px;
  width: 136px;
  height: 136px;
}
.icon-gh {
  background-position: -0px -11152px;
  width: 136px;
  height: 136px;
}
.icon-gi {
  background-position: -0px -11288px;
  width: 136px;
  height: 136px;
}
.icon-gl {
  background-position: -0px -11424px;
  width: 136px;
  height: 136px;
}
.icon-gm {
  background-position: -0px -11560px;
  width: 136px;
  height: 136px;
}
.icon-gn {
  background-position: -0px -11696px;
  width: 136px;
  height: 136px;
}
.icon-gp {
  background-position: -0px -11832px;
  width: 136px;
  height: 136px;
}
.icon-gq {
  background-position: -0px -11968px;
  width: 136px;
  height: 136px;
}
.icon-gr {
  background-position: -0px -12104px;
  width: 136px;
  height: 136px;
}
.icon-gs {
  background-position: -0px -12240px;
  width: 136px;
  height: 136px;
}
.icon-gt {
  background-position: -0px -12376px;
  width: 136px;
  height: 136px;
}
.icon-gu {
  background-position: -0px -12512px;
  width: 136px;
  height: 136px;
}
.icon-gw {
  background-position: -0px -12648px;
  width: 136px;
  height: 136px;
}
.icon-gy {
  background-position: -0px -12784px;
  width: 136px;
  height: 136px;
}
.icon-hk {
  background-position: -0px -12920px;
  width: 136px;
  height: 136px;
}
.icon-hm {
  background-position: -0px -13056px;
  width: 136px;
  height: 136px;
}
.icon-hn {
  background-position: -0px -13192px;
  width: 136px;
  height: 136px;
}
.icon-hr {
  background-position: -0px -13328px;
  width: 136px;
  height: 136px;
}
.icon-ht {
  background-position: -0px -13464px;
  width: 136px;
  height: 136px;
}
.icon-hu {
  background-position: -0px -13600px;
  width: 136px;
  height: 136px;
}
.icon-id {
  background-position: -0px -13736px;
  width: 136px;
  height: 136px;
}
.icon-ie {
  background-position: -0px -13872px;
  width: 136px;
  height: 136px;
}
.icon-il {
  background-position: -0px -14008px;
  width: 136px;
  height: 136px;
}
.icon-im {
  background-position: -0px -14144px;
  width: 136px;
  height: 136px;
}
.icon-in {
  background-position: -0px -14280px;
  width: 136px;
  height: 136px;
}
.icon-io {
  background-position: -0px -14416px;
  width: 136px;
  height: 136px;
}
.icon-iq {
  background-position: -0px -14552px;
  width: 136px;
  height: 136px;
}
.icon-ir {
  background-position: -0px -14688px;
  width: 136px;
  height: 136px;
}
.icon-is {
  background-position: -0px -14824px;
  width: 136px;
  height: 136px;
}
.icon-it {
  background-position: -0px -14960px;
  width: 136px;
  height: 136px;
}
.icon-je {
  background-position: -0px -15096px;
  width: 136px;
  height: 136px;
}
.icon-jm {
  background-position: -0px -15232px;
  width: 136px;
  height: 136px;
}
.icon-jo {
  background-position: -0px -15368px;
  width: 136px;
  height: 136px;
}
.icon-jp {
  background-position: -0px -15504px;
  width: 136px;
  height: 136px;
}
.icon-ke {
  background-position: -0px -15640px;
  width: 136px;
  height: 136px;
}
.icon-kg {
  background-position: -0px -15776px;
  width: 136px;
  height: 136px;
}
.icon-kh {
  background-position: -0px -15912px;
  width: 136px;
  height: 136px;
}
.icon-ki {
  background-position: -0px -16048px;
  width: 136px;
  height: 136px;
}
.icon-km {
  background-position: -0px -16184px;
  width: 136px;
  height: 136px;
}
.icon-kn {
  background-position: -0px -16320px;
  width: 136px;
  height: 136px;
}
.icon-kp {
  background-position: -0px -16456px;
  width: 136px;
  height: 136px;
}
.icon-kr {
  background-position: -0px -16592px;
  width: 136px;
  height: 136px;
}
.icon-kw {
  background-position: -0px -16728px;
  width: 136px;
  height: 136px;
}
.icon-ky {
  background-position: -0px -16864px;
  width: 136px;
  height: 136px;
}
.icon-kz {
  background-position: -0px -17000px;
  width: 136px;
  height: 136px;
}
.icon-la {
  background-position: -0px -17136px;
  width: 136px;
  height: 136px;
}
.icon-lb {
  background-position: -0px -17272px;
  width: 136px;
  height: 136px;
}
.icon-lc {
  background-position: -0px -17408px;
  width: 136px;
  height: 136px;
}
.icon-li {
  background-position: -0px -17544px;
  width: 136px;
  height: 136px;
}
.icon-lk {
  background-position: -0px -17680px;
  width: 136px;
  height: 136px;
}
.icon-lr {
  background-position: -0px -17816px;
  width: 136px;
  height: 136px;
}
.icon-ls {
  background-position: -0px -17952px;
  width: 136px;
  height: 136px;
}
.icon-lt {
  background-position: -0px -18088px;
  width: 136px;
  height: 136px;
}
.icon-lu {
  background-position: -0px -18224px;
  width: 136px;
  height: 136px;
}
.icon-lv {
  background-position: -0px -18360px;
  width: 136px;
  height: 136px;
}
.icon-ly {
  background-position: -0px -18496px;
  width: 136px;
  height: 136px;
}
.icon-ma {
  background-position: -0px -18632px;
  width: 136px;
  height: 136px;
}
.icon-mc {
  background-position: -0px -18768px;
  width: 136px;
  height: 136px;
}
.icon-md {
  background-position: -0px -18904px;
  width: 136px;
  height: 136px;
}
.icon-me {
  background-position: -0px -19040px;
  width: 136px;
  height: 136px;
}
.icon-mf {
  background-position: -0px -19176px;
  width: 136px;
  height: 136px;
}
.icon-ae {
  background-position: -0px -19312px;
  width: 136px;
  height: 136px;
}
.icon-mh {
  background-position: -0px -19448px;
  width: 136px;
  height: 136px;
}
.icon-mk {
  background-position: -0px -19584px;
  width: 136px;
  height: 136px;
}
.icon-ml {
  background-position: -0px -19720px;
  width: 136px;
  height: 136px;
}
.icon-mm {
  background-position: -0px -19856px;
  width: 136px;
  height: 136px;
}
.icon-mn {
  background-position: -0px -19992px;
  width: 136px;
  height: 136px;
}
.icon-mo {
  background-position: -0px -20128px;
  width: 136px;
  height: 136px;
}
.icon-mp {
  background-position: -0px -20264px;
  width: 136px;
  height: 136px;
}
.icon-mq {
  background-position: -0px -20400px;
  width: 136px;
  height: 136px;
}
.icon-mr {
  background-position: -0px -20536px;
  width: 136px;
  height: 136px;
}
.icon-ms {
  background-position: -0px -20672px;
  width: 136px;
  height: 136px;
}
.icon-mt {
  background-position: -0px -20808px;
  width: 136px;
  height: 136px;
}
.icon-mu {
  background-position: -0px -20944px;
  width: 136px;
  height: 136px;
}
.icon-mv {
  background-position: -0px -21080px;
  width: 136px;
  height: 136px;
}
.icon-mw {
  background-position: -0px -21216px;
  width: 136px;
  height: 136px;
}
.icon-mx {
  background-position: -0px -21352px;
  width: 136px;
  height: 136px;
}
.icon-my {
  background-position: -0px -21488px;
  width: 136px;
  height: 136px;
}
.icon-mz {
  background-position: -0px -21624px;
  width: 136px;
  height: 136px;
}
.icon-na {
  background-position: -0px -21760px;
  width: 136px;
  height: 136px;
}
.icon-nc {
  background-position: -0px -21896px;
  width: 136px;
  height: 136px;
}
.icon-ne {
  background-position: -0px -22032px;
  width: 136px;
  height: 136px;
}
.icon-nf {
  background-position: -0px -22168px;
  width: 136px;
  height: 136px;
}
.icon-ng {
  background-position: -0px -22304px;
  width: 136px;
  height: 136px;
}
.icon-ni {
  background-position: -0px -22440px;
  width: 136px;
  height: 136px;
}
.icon-nl {
  background-position: -0px -22576px;
  width: 136px;
  height: 136px;
}
.icon-no {
  background-position: -0px -22712px;
  width: 136px;
  height: 136px;
}
.icon-np {
  background-position: -0px -22848px;
  width: 136px;
  height: 136px;
}
.icon-nr {
  background-position: -0px -22984px;
  width: 136px;
  height: 136px;
}
.icon-nu {
  background-position: -0px -23120px;
  width: 136px;
  height: 136px;
}
.icon-nz {
  background-position: -0px -23256px;
  width: 136px;
  height: 136px;
}
.icon-om {
  background-position: -0px -23392px;
  width: 136px;
  height: 136px;
}
.icon-pa {
  background-position: -0px -23528px;
  width: 136px;
  height: 136px;
}
.icon-pe {
  background-position: -0px -23664px;
  width: 136px;
  height: 136px;
}
.icon-pf {
  background-position: -0px -23800px;
  width: 136px;
  height: 136px;
}
.icon-pg {
  background-position: -0px -23936px;
  width: 136px;
  height: 136px;
}
.icon-ph {
  background-position: -0px -24072px;
  width: 136px;
  height: 136px;
}
.icon-pk {
  background-position: -0px -24208px;
  width: 136px;
  height: 136px;
}
.icon-pl {
  background-position: -0px -24344px;
  width: 136px;
  height: 136px;
}
.icon-pm {
  background-position: -0px -24480px;
  width: 136px;
  height: 136px;
}
.icon-pn {
  background-position: -0px -24616px;
  width: 136px;
  height: 136px;
}
.icon-pr {
  background-position: -0px -24752px;
  width: 136px;
  height: 136px;
}
.icon-ps {
  background-position: -0px -24888px;
  width: 136px;
  height: 136px;
}
.icon-pt {
  background-position: -0px -25024px;
  width: 136px;
  height: 136px;
}
.icon-pw {
  background-position: -0px -25160px;
  width: 136px;
  height: 136px;
}
.icon-py {
  background-position: -0px -25296px;
  width: 136px;
  height: 136px;
}
.icon-qa {
  background-position: -0px -25432px;
  width: 136px;
  height: 136px;
}
.icon-re {
  background-position: -0px -25568px;
  width: 136px;
  height: 136px;
}
.icon-rn {
  background-position: -0px -25704px;
  width: 136px;
  height: 136px;
}
.icon-ro {
  background-position: -0px -25840px;
  width: 136px;
  height: 136px;
}
.icon-rs {
  background-position: -0px -25976px;
  width: 136px;
  height: 136px;
}
.icon-ru {
  background-position: -0px -26112px;
  width: 136px;
  height: 136px;
}
.icon-rw {
  background-position: -0px -26248px;
  width: 136px;
  height: 136px;
}
.icon-sa {
  background-position: -0px -26384px;
  width: 136px;
  height: 136px;
}
.icon-sb {
  background-position: -0px -26520px;
  width: 136px;
  height: 136px;
}
.icon-sc {
  background-position: -0px -26656px;
  width: 136px;
  height: 136px;
}
.icon-sd {
  background-position: -0px -26792px;
  width: 136px;
  height: 136px;
}
.icon-se {
  background-position: -0px -26928px;
  width: 136px;
  height: 136px;
}
.icon-sg {
  background-position: -0px -27064px;
  width: 136px;
  height: 136px;
}
.icon-sh {
  background-position: -0px -27200px;
  width: 136px;
  height: 136px;
}
.icon-si {
  background-position: -0px -27336px;
  width: 136px;
  height: 136px;
}
.icon-sj {
  background-position: -0px -27472px;
  width: 136px;
  height: 136px;
}
.icon-sk {
  background-position: -0px -27608px;
  width: 136px;
  height: 136px;
}
.icon-sl {
  background-position: -0px -27744px;
  width: 136px;
  height: 136px;
}
.icon-sm {
  background-position: -0px -27880px;
  width: 136px;
  height: 136px;
}
.icon-sn {
  background-position: -0px -28016px;
  width: 136px;
  height: 136px;
}
.icon-so {
  background-position: -0px -28152px;
  width: 136px;
  height: 136px;
}
.icon-sr {
  background-position: -0px -28288px;
  width: 136px;
  height: 136px;
}
.icon-ss {
  background-position: -0px -28424px;
  width: 136px;
  height: 136px;
}
.icon-st {
  background-position: -0px -28560px;
  width: 136px;
  height: 136px;
}
.icon-sv {
  background-position: -0px -28696px;
  width: 136px;
  height: 136px;
}
.icon-sx {
  background-position: -0px -28832px;
  width: 136px;
  height: 136px;
}
.icon-sy {
  background-position: -0px -28968px;
  width: 136px;
  height: 136px;
}
.icon-sz {
  background-position: -0px -29104px;
  width: 136px;
  height: 136px;
}
.icon-tc {
  background-position: -0px -29240px;
  width: 136px;
  height: 136px;
}
.icon-td {
  background-position: -0px -29376px;
  width: 136px;
  height: 136px;
}
.icon-tf {
  background-position: -0px -29512px;
  width: 136px;
  height: 136px;
}
.icon-tg {
  background-position: -0px -29648px;
  width: 136px;
  height: 136px;
}
.icon-th {
  background-position: -0px -29784px;
  width: 136px;
  height: 136px;
}
.icon-tj {
  background-position: -0px -29920px;
  width: 136px;
  height: 136px;
}
.icon-tk {
  background-position: -0px -30056px;
  width: 136px;
  height: 136px;
}
.icon-tl {
  background-position: -0px -30192px;
  width: 136px;
  height: 136px;
}
.icon-tm {
  background-position: -0px -30328px;
  width: 136px;
  height: 136px;
}
.icon-to {
  background-position: -0px -30464px;
  width: 136px;
  height: 136px;
}
.icon-tr {
  background-position: -0px -30600px;
  width: 136px;
  height: 136px;
}
.icon-tt {
  background-position: -0px -30736px;
  width: 136px;
  height: 136px;
}
.icon-tv {
  background-position: -0px -30872px;
  width: 136px;
  height: 136px;
}
.icon-tw {
  background-position: -0px -31008px;
  width: 136px;
  height: 136px;
}
.icon-tz {
  background-position: -0px -31144px;
  width: 136px;
  height: 136px;
}
.icon-ua {
  background-position: -0px -31280px;
  width: 136px;
  height: 136px;
}
.icon-ug {
  background-position: -0px -31416px;
  width: 136px;
  height: 136px;
}
.icon-um {
  background-position: -0px -31552px;
  width: 136px;
  height: 136px;
}
.icon-us {
  background-position: -0px -31688px;
  width: 136px;
  height: 136px;
}
.icon-uy {
  background-position: -0px -31824px;
  width: 136px;
  height: 136px;
}
.icon-uz {
  background-position: -0px -31960px;
  width: 136px;
  height: 136px;
}
.icon-va {
  background-position: -0px -32096px;
  width: 136px;
  height: 136px;
}
.icon-vc {
  background-position: -0px -32232px;
  width: 136px;
  height: 136px;
}
.icon-ve {
  background-position: -0px -32368px;
  width: 136px;
  height: 136px;
}
.icon-vg {
  background-position: -0px -32504px;
  width: 136px;
  height: 136px;
}
.icon-vi {
  background-position: -0px -32640px;
  width: 136px;
  height: 136px;
}
.icon-vn {
  background-position: -0px -32776px;
  width: 136px;
  height: 136px;
}
.icon-vu {
  background-position: -0px -32912px;
  width: 136px;
  height: 136px;
}
.icon-wf {
  background-position: -0px -33048px;
  width: 136px;
  height: 136px;
}
.icon-ws {
  background-position: -0px -33184px;
  width: 136px;
  height: 136px;
}
.icon-ye {
  background-position: -0px -33320px;
  width: 136px;
  height: 136px;
}
.icon-yt {
  background-position: -0px -33456px;
  width: 136px;
  height: 136px;
}
.icon-za {
  background-position: -0px -33592px;
  width: 136px;
  height: 136px;
}
.icon-zm {
  background-position: -0px -33728px;
  width: 136px;
  height: 136px;
}
.icon-zw {
  background-position: -0px -33864px;
  width: 136px;
  height: 136px;
}
.icon-_African-Union {
  background-position: -0px -34000px;
  width: 136px;
  height: 136px;
}
.icon-_Alderney {
  background-position: -0px -34136px;
  width: 136px;
  height: 136px;
}
.icon-_Arab-League {
  background-position: -0px -34272px;
  width: 136px;
  height: 136px;
}
.icon-_ASEAN {
  background-position: -0px -34408px;
  width: 136px;
  height: 136px;
}
.icon-_Basque-Country {
  background-position: -0px -34544px;
  width: 136px;
  height: 136px;
}
.icon-_CARICOM {
  background-position: -0px -34680px;
  width: 136px;
  height: 136px;
}
.icon-_Catalonia {
  background-position: -0px -34816px;
  width: 136px;
  height: 136px;
}
.icon-_CIS {
  background-position: -0px -34952px;
  width: 136px;
  height: 136px;
}
.icon-_Commonwealth {
  background-position: -0px -35088px;
  width: 136px;
  height: 136px;
}
.icon-_England {
  background-position: -0px -35224px;
  width: 136px;
  height: 136px;
}
.icon-_European-Union {
  background-position: -0px -35360px;
  width: 136px;
  height: 136px;
}
.icon-_FAO {
  background-position: -0px -35496px;
  width: 136px;
  height: 136px;
}
.icon-_Galicia {
  background-position: -0px -35632px;
  width: 136px;
  height: 136px;
}
.icon-_IAEA {
  background-position: -0px -35768px;
  width: 136px;
  height: 136px;
}
.icon-_IHO {
  background-position: -0px -35904px;
  width: 136px;
  height: 136px;
}
.icon-_Islamic-Conference {
  background-position: -0px -36040px;
  width: 136px;
  height: 136px;
}
.icon-_Kosovo {
  background-position: -0px -36176px;
  width: 136px;
  height: 136px;
}
.icon-_NATO {
  background-position: -0px -36312px;
  width: 136px;
  height: 136px;
}
.icon-_Northern-Cyprus {
  background-position: -0px -36448px;
  width: 136px;
  height: 136px;
}
.icon-_Northern-Ireland {
  background-position: -0px -36584px;
  width: 136px;
  height: 136px;
}
.icon-_OAS {
  background-position: -0px -36720px;
  width: 136px;
  height: 136px;
}
.icon-_OECD {
  background-position: -0px -36856px;
  width: 136px;
  height: 136px;
}
.icon-_Olimpic-Movement {
  background-position: -0px -36992px;
  width: 136px;
  height: 136px;
}
.icon-_OPEC {
  background-position: -0px -37128px;
  width: 136px;
  height: 136px;
}
.icon-_Quebec {
  background-position: -0px -37264px;
  width: 136px;
  height: 136px;
}
.icon-_Red-Cross {
  background-position: -0px -37400px;
  width: 136px;
  height: 136px;
}
.icon-_Scotland {
  background-position: -0px -37536px;
  width: 136px;
  height: 136px;
}
.icon-_Somaliland {
  background-position: -0px -37672px;
  width: 136px;
  height: 136px;
}
.icon-_Tristan-da-Cunha {
  background-position: -0px -37808px;
  width: 136px;
  height: 136px;
}
.icon-_UNESCO {
  background-position: -0px -37944px;
  width: 136px;
  height: 136px;
}
.icon-_UNICEF {
  background-position: -0px -38080px;
  width: 136px;
  height: 136px;
}
.icon-_United-Nations {
  background-position: -0px -38216px;
  width: 136px;
  height: 136px;
}
.icon-_Wales {
  background-position: -0px -38352px;
  width: 136px;
  height: 136px;
}
.icon-_WHO {
  background-position: -0px -38488px;
  width: 136px;
  height: 136px;
}
.icon-_WTO {
  background-position: -0px -38624px;
  width: 136px;
  height: 136px;
}